@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.destContainer {
    background: url('../../assets/destination/background-destination-mobile.jpg');
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 88px repeat(3, auto);
    grid-template-areas: 
        '.'
        'header'
        'content'
        'facts'
    ;

    @media screen and (min-width: 768px) {
        background: url('../../assets/destination/background-destination-tablet.jpg');
        grid-template-rows: 136px repeat(3, auto);
    }

    @media screen and (min-width: 1440px) {
        background: url('../../assets/destination/background-destination-desktop.jpg');
        grid-template-rows: 212px auto 218px;
        grid-template-columns: 58% 32%;
        background-size: cover;
        grid-template-areas: 
            '. .'
            'header content'
            'header facts'
        ;
    }

    .header {
        grid-area: header;
        margin-bottom: 26px;

        .titleContainer {

            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: flex-start;
                margin-left: 38.5px;
            }

            @media screen and (min-width: 1440px) {
                margin-top: 5%;
            }

            .title {
                font-size: 1.6rem;
                color: #fff;
                font-family: $barlow-condensed;
                margin-bottom: 32px;
                letter-spacing: 2.7px;
    
                @media screen and (min-width: 768px) {
                    font-size: 2rem;
                    letter-spacing: 3.38px;
                }

                @media screen and (min-width: 1440px) {
                    font-size: 2.8rem;
                    letter-spacing: 4.72px;
                    margin-left: 12%;
                }
    
                .number {
                    font-size: 1.6rem;
                    padding-right: 18px;
                    opacity: .5;
    
                    @media screen and (min-width: 768px) {
                        font-size: 2rem;
                    }

                    @media screen and (min-width: 1440px) {
                        font-size: 2.8rem;
                    }
                }
            }
        }

        .image {
            width: 40%;
            rotate: 12deg;

            @media screen and (min-width: 768px) {
                margin-top: 35px;
            }

            @media screen and (min-width: 1440px) {
                width: 30.9vw;
            }
        }
    }

    .content {
        grid-area: content;
        min-height: 310px;
        position: relative;

        @media screen and (min-width: 768px) {
            height: 315px;
        }

        @media screen and (min-width: 1440px) {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 30.9vw;

            & > * {
                padding: 18px 0 18px 0;
            }
        }

        @media screen and (min-width: 1461px) {
            
        }

        .optionsContainer {
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            margin: auto;
            margin-bottom: 26px;

            @media screen and (min-width: 768px) {
                width: 37.17%;
                justify-content: space-between;
                margin-bottom: 32px;
            }

            @media screen and (min-width: 1440px) {
                margin: 0;
                justify-content: space-between;
                width: 65%;
            }

            .option {
                background: none;
                border: none;
                font-size: 1.4rem;
                font-family: $barlow-condensed;
                letter-spacing: 2.36px;
                padding-bottom: 8px;

                @media screen and (min-width: 768px) {
                    letter-spacing: 2.7px;
                    font-size: 1.6rem;
                }
            }
        }

        .name {
            font-size: 5.6rem;
            color: #fff;
            font-family: $bellefair;
            font-weight: 400;

            @media screen and (min-width: 768px) {
                font-size: 8rem;
            }
            
            @media screen and (min-width: 1440px) {
                font-size: 10rem;
                padding-bottom: 0px;
            }
        }

        .description {
            font-size: 1.5rem;
            color: $light;
            width: 85%;
            margin: auto;
            line-height: 2.5rem;
            font-family: $barlow;

            @media screen and (min-width: 768px) {
                width: 74.61%;
                font-size: 1.6rem;
                line-height: 2.8rem;
            }

            @media screen and (min-width: 1440px) {
                margin: 0;
                text-align: left;
                width: 100%;
                font-size: 1.82rem;
                line-height: 3.2rem;
                // min-height: 164px;
            }
        }

        .line {
            width: 85%;
            height: 1px;
            border-color: #383B4B;
            margin: 32px auto;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);

            @media screen and (min-width: 768px) {
                bottom: 0%;
            }

            @media screen and (min-width: 1440px) {
                left: 0;
                transform: translateX(0%);
                padding: 0;
                width: 100%;
                bottom: -14%;
            }
        }
    }

    .facts {
        grid-area: facts;
        margin-bottom: 58px;

        @media screen and (min-width: 768px) {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 74.61%;
            margin-top: -30px;
            padding-bottom: 30px;
        }

        @media screen and (min-width: 1440px) {
            margin: 0;
            justify-content: space-between;
            width: 24.72vw;
        }

        .distance {
            margin-bottom: 32px;

            @media screen and (min-width: 768px) {
                margin: 0;
            }
        }

        .distance,
        .travel {
            color: #fff;
            
            @media screen and (min-width: 1440px) {
                text-align: left;
            }

            .factsTitle {
                font-size: 1.4rem;
                color: $light;
                font-family: $barlow-condensed;
                font-weight: 400;
                letter-spacing: 2.36px;
                margin-bottom: 12px;
            }

            .fact {
                font-size: 2.8rem;
                font-family: $bellefair;
                text-transform: uppercase;
            }
        }
    }
}