.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    z-index: 1;

    .logoContainer {
        width: 20vw;
    }

    .navMenu {
        width: 25vw;

        .menuBtn {
            border: none;
            background: none;
        }
    }
}