.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    .logoContainer {
        padding: 24px;

        img {
            width: 40px;
        }
    }

    .navMenu {
        padding: 24px;

        .menuBtn {
            border: none;
            background: none;
        }
    }
}